body{
    background-color: rgb(223, 200, 223);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card{
    background-color: beige;
    width: 400px;
    height: 400px;
    margin: 40px;
    padding: 30px;
}
.cardheader{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
div img{
    width: 40%;
    border-radius: 40%;
}
a{
    text-decoration: none; 
    color: rgb(41, 40, 39);   
}
.carda{
    background-color: rgb(216, 198, 150);
    display: inline-block;
    margin-left:250px;
    padding: 5px;
    border-radius: 10px;
}

